<div>
	<div>
		<h1>Encontrar um novo desafio profissional</h1>
		<%= image_tag("home-candidato.jpg", size: "500x500", alt: "Candidato Home")%>
	</div>

	<div>
		<h1>Acertar em cheio em cada contratação</h1>
		<%= image_tag("home-recrutador.jpg", size: "500x500", alt: "Recrutador Home")%>
	</div>
</div>
