<h3 class="link-to-back"><%= link_to 'Voltar', candidate_proposals_path(@candidate) %></h3>

<div class="form-div-submit">
	<h2 class="form-title-submit">Envie uma resposta ao recrutador sobre a vaga</h2>

	<%= render "form" %>
</div>
