@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Menu*/

/*Logo*/
.logo {
	margin-top: 2%;
	margin-left: 5%;
}

/*Menu de session - usuario nao logado*/
.menu {
	display: block;
	box-shadow: none;
	padding: 5%;
}
.menu li {
	margin: 0%;
	margin-top: 3%;
	margin-right: 3%;
}

.menu li a {
	color: rgb(232, 44, 79);
}

/*Recursos*/
.dropdown button {
	width: 50%;
	text-align: center;
	background-color: rgb(232, 44, 79);
	border-color: transparent;
	height: 50px;
	border-radius: 25px;
	padding: 3%;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin: 3%;
	margin-left: 0%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 20px 20px;
	z-index: 1;
}

.dropdown-content li {
	padding: 3%;
}

.dropdown-content li:hover {
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*Mensagens de erro e alerta*/
.msg-error, .msg-alert  {
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: red;
	text-align: center;
	background-color: #efefef;
	padding: 1%;
	width: 70%;
	margin-bottom: 3%;
}

/*Mensagens de erro*/
.msg-alert {
	color: orange;
	background-color: #f9f9f9;
	font-weight: bold;
}

/*Link para voltar*/
.link-to-back {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;;
	background-color: #efefef;
	text-align: center;
	width: 20%;
	padding: 2%;
}

.link-to-back:hover {
	background-color: #d9d9d9;
}

.link-to-back a {
	color: gray;
} 

/*Responsividade*/

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 700px){
	/*Recursos*/
	.dropdown button {
		height: 60px;
	}
	/*Recursos*/
	.dropdown button {
		width: 40%;
		height: 40px;
		padding: 0%;
	}

	.link-to-back {
		margin-left: 10%;
		margin-right: auto;
		margin-bottom: 3%;
	}
}

/*Desktop*/
@media screen and (min-width: 700px){

	.link-to-back {
		margin-top: 5%;
		margin-left: 5%;
		margin-right: auto;
		margin-bottom: 3%;
		width: 5%;
		padding: 0.5%;
	}

	/*Mensagens de erro*/
	.msg-error, .msg-alert  {
		width: 20%;
	}
	.menu {
		display: flex;
		justify-content: space-between;
		padding: 0%;
	}
	/*Recursos*/
	.dropdown button {
		width: 150%;
		height: 40px;
		margin-top: 20%;
		margin-left: -25%;
	}
}
