/*Index - Job */
.job-div {
	background-color: white;
	height: 100vh;
}

.inst-seach {
	font-size: 20px;
	margin-bottom: 2%;
	color: rgb(50, 86, 161); /*Azul*/
}

/*Campo de Busca*/
.field-seach {
	margin-left: 5%;
	align-elements: center;
	text-align: center;
}

/*Botao de busca*/
.button-busca {
	padding: 0.5%;
	border-radius: 5px;
	border-color: transparent;
}

/*Link para cadastrar novas vagas*/
.link-new-job {
	background-color: rgb(50, 86, 161);
	margin-left: 5%;
	text-align: center;
	padding: 3%;
	width: 50%; 
}

.link-new-job:hover {
	background-color: #284581;
}

.link-new-job a {
	color: white;
}

/*Vagas Cadastradas*/
.job-div h1 {
	font-weight: 300;
	color: gray;
	text-align: center;
	padding: 3%;
}

/*Todos os cards*/
.job-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

/*Cada card de vaga*/
.each-job {
	border-top: solid;
	border-bottom: solid;
	border-top-color: #d9d9d9;
	border-bottom-color: #d9d9d9;
	background-color: white;
	width: 90%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
}

.each-job:hover {
	background-color: #efefef;
}

/*Titulo - Index*/
.job-title-home {
	font-size: 25px;
}

/*Titulo - Index*/
.job-title-home a {
	color: black;
}

/*Pre-informacoes da vaga*/
.each-job p {
	margin-bottom: 2%;
}

/*Detalhes da vaga*/
.details-job-home {
	text-align: center;
	background-color: #a1d3cb;
	border-radius: 25px;
	padding: 3%;
	width: 30%;
	font-size: 15px;
}

.details-job-home a {
	color: black;
}


/*Tablet*/
@media screen and (min-width: 700px) and (max-width: 1000px){
	/*Link para cadastrar novas vagas*/
	.link-new-job {
		margin-left: 2%;
		padding: 2%;
		width: 30%; 
	}
	.job-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.details-job-home {
		width: 40%;
	}
}

/*Desktop*/
@media screen and (min-width: 1000px){
	.job-cards {
		grid-template-columns: repeat(3, 1fr);
	}

	/*Detalhes da vaga*/
	.details-job-home {
		width: 40%;
		padding: 2%;
	}

	/*Link para cadastrar novas vagas*/
	.link-new-job {
		margin-left: 1%;
		padding: 1%;
		width: 20%; 
	}
	/*Campo de Busca*/
	.field-seach {
		margin-left: 5%;
		align-elements: left;
		text-align: left;
	}
}
