/*Titulo e formulario*/
.form-session {
	display: block;
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%; 
	width: 100%;
}

.form-session h2 {
	color: rgb(50, 86, 161);
	margin-bottom: 5%;
}

.form, .form-headhunter {
	margin-bottom: 3%;
}

/*Titulo e subtitulo*/
.title {
	color: rgb(50, 86, 161);
	margin-bottom: 3%;
}

/*Campos*/
.field input {
	display: block;
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 2px 10px;
	margin-bottom: 3%;
	margin-top: 3%;
}

/*Check-box*/
.check {
	margin-bottom: 3%;
}

/*Entrar - Button - Candidatos*/
.actions button {
	
	width: 75%;
	background-color: white;
	border-color: rgb(50, 86, 161);
	height: 50px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(50, 86, 161);
	margin-bottom: 3%;
}

.actions button:hover {
	border-color: transparent;
	background-color: rgb(50, 86, 161);
	color: white;
}

/*Criar conta como candidato*/
.link-sign-up {
	align-elements: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	padding: 3%;
	width: 70%;
	background-color: rgb(50, 86, 161);
	border-color: transparent;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

/*Criar conta como candidato*/
.link-sign-up:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Criar conta como candidato*/
.link-sign-up a {
	color: white;
}

/*Link para enviar instrucoes por e-mail*/
.actions .send-email-password {
	font-size: 15px;
	border-radius: 0px;
	width: 70%;
	background-color: gray;
	margin-top: -1%;
	margin-bottom: 5%;
}

/*Responsividade*/

/*Desktop*/
@media screen and (min-width: 1000px){
/*Campos*/
	.field input, .actions button {
		width: 30%;
		margin-bottom: 1%;
		margin-top: 1%;
	}
	
	/*Entrar - Button*/
	.actions button {
		width: 20%;
	}

	/*Criar conta como candidato*/
	.link-sign-up {
		width: 18%;
		padding: 1%;
	}

	/*Check-box*/
	.check {
		margin-bottom: 1%;
	}

	/*Link para enviar instrucoes por e-mail*/
	.actions .send-email-password {
		width: 30%;
		margin-top: 0%;
	}	
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1000px){
	/*Campos*/
	.field input, .actions button {
		width: 50%;
		margin-bottom: 1%;
		margin-top: 1%;
	}

	/*Entrar - Button*/
	.actions button {
		width: 50%;
	}

	/*Criar conta como candidato*/
	.link-sign-up {
		width: 45%;
		padding: 2%;
	}

	/*Link para enviar instrucoes por e-mail*/
	.actions .send-email-password {
		width: 50%;
		margin-top: 0%;
	}
}
