.div-profile {
	text-align: center
}

.div-info-profile {
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: rgb(232, 44, 79);
}

/*Avatar*/
.avatar {
	border-radius: 50%;
}

.each-card-candidate {
	text-align: center;
	background-color: #f9f9f9;
	width: 90%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	border-radius: 5px;
	margin-bottom: 5%;
}

.each-card-candidate:hover {
	transition: 1s;
	background-color: #d9d9d9;
}

.full_name {
	font-size: 30px;
	padding: 5%;
	color: white;
	font-weight: bold;
}

/*Infos do candidato no index*/
.description-candidate {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.description-candidate-profile {
	display: grid;
	grid-template-columns: repeat(2, 350px);
	margin-left: 25%;
}

.description-candidate-profile p {
	padding: 2%;
	color: white;
}

.description-candidate p {
	padding: 1%;
	color: black;
}

.description-candidate p a{
	font-size: 20px;
	color: rgb(232, 44, 79); /*Rosa*/
}

.description-candidate-profile p a{
	color: white;
}

.div-profile_description, .div-formation {
	padding: 3%;
	background-color: #efefef;
}

.div-profile_description h2 {
	padding-bottom: 3%;
}

.div-experience, .div-courses {
	padding: 3%;
	background-color: #f9f9f9;
}

/*Editar/Deletar*/
.button-edit-delete {
	display: flex;
	width: 100%;
}

.button-edit-delete p {
	align-elements: center;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
}

.edit a {
	color: #ff7b00; /*Laranja*/
}

.delete a {
	border-color: red;
	color: red;
}

/*Comentarios*/
.div-comments {
	text-align: left;
}

.div-comments h3 {
	font-weight: 400;
	color: #4f4f4f; /*Cinza escuro*/
	padding: 3%;
}

/*Link para cadastrar novas vagas*/
.link-new-comment, .link-new-proposal {
	background-color: orange;
	align-elements: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 3%;
	margin-bottom: 2%;
	width: 50%; 
}

.link-new-proposal {
	background-color: #308f5a;
}

.link-new-proposal:hover {
	background-color: #267248;
}

.link-new-comment:hover {
	background-color: #ff7b00;
}

.link-new-comment a, .link-new-proposal a {
	color: white;
}

.each-comment {
	text-align: left;
	background-color: #ffbca4;
	padding-left: 3%;
	width: 90%;
	border-radius: 5px;
	align-elements: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 2%; 
}

.each-comment p, .each-comment h4{
	padding: 1%;
}

.button-edit-delete-comment {
	display: flex;
	width: 100%;
}

/*Responsividade*/

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 700px){

}

/*Desktop*/
@media screen and (min-width: 700px){
	.full_name {
		font-size: 40px;
		padding: 1%;
	}

	.each-card-candidate {
		width: 70%;
	}
	.description-candidate {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.div-profile_description, .div-formation, .div-experience, .div-courses  {
		text-align: left;
	}
	.each-comment p, .each-comment h4{
		padding: 0.5%;
	}
	.each-comment {
		text-align: left;
		padding-left: 1%;
		width: 40%;
		padding-top: 1%;
		padding-bottom: 1%;
		align-elements: left;
		margin-left: 3%;
	}
	.div-comments h3 {
		padding-bottom: 1%;
		padding-top: 1%;
	}

	.link-new-comment, .link-new-proposal {
		align-elements: left;
		margin-left: 3%;
		text-align: center;
		padding: 1%;
		margin-bottom: 1%;
		width: 20%; 
	}
}
