<h3 class="link-to-back"><%= link_to 'Voltar', job_opportunity_apply_job_path(@job_opportunity) %></h3>

<div class="form-session">
	<h1>Editar menssagem de candidatura </h1>

	<%= render "form" %>
</div>

