<h3 class="link-to-back"><%= link_to 'Voltar', job_opportunity_apply_job_path(@job_opportunity) %></h3>

<div class="form-div-submit">
	<h2 class="form-title-submit">Editar menssagem de candidatura </h2>

	<%= render "form" %>
</div>

