<h3 class="link-to-back"><%= link_to 'Voltar', job_opportunity_path(@job_opportunity) %></h3>

<div class="form-session">
	<h1>Você esta se candidatando para a vaga: <%= @job_opportunity.title %></h1>

	<%= render "form" %>
</div>
