<h4>Feedbacks dos candidatos para esta vaga</h4>

<% @awnser_proposals.each do |awnser| %>
	<%= @job.title %>
	<%= Proposal.human_attribute_name("status.#{awnser.proposal.status}") %>
	<%= awnser.awnser_message %>
	<%= link_to awnser.proposal.candidate.full_name, awnser.proposal.candidate %>
<% end %>
