<h3 class="link-to-back"><%= link_to 'Voltar', root_path %></h3>

<div class="form-session">
	<h1>Nova vaga</h1>
	<h3>Preencha o formulário abaixo para cadastrar uma nova vaga </h3>

	<%= render "form" %>
</div>
